/* Essentials
-----------------------------------------------------------------------------*/
body {
    font-family: helvetica, arial, sans-serif;
  
    margin: 0;
    border: 0;
    padding: 0;
}
  
.wrapper {
    max-width: 900px;
    margin: 0 auto;
}
  
h1 {
    font-style: italic;
    color: #373fff;
}

li {
    list-style: none;
    width: 80%;
    padding: 0 10%;
    line-height: 60px;
    user-select: none;
}

/* Section A
-----------------------------------------------------------------------------*/
#section-a {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.3%;
    height: 100vh;
}

#section-a li {
    cursor: pointer;
}


/* Section B
-----------------------------------------------------------------------------*/
#section-b {
    position: absolute;
    top: 0;
    left: 33.3%;
    width: 33.3%;
    height: 100vh;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.plus {
    cursor: pointer;
}


/* Section C
-----------------------------------------------------------------------------*/
#section-c {
    position: absolute;
    top: 0;
    left: 66.6%;
    width: 33.3%;
    height: 100vh;
}

.minus {
    cursor: pointer;
}



#saveTable {
    cursor: pointer;
}