body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(218, 232, 245);
    user-select: none; /*stop text selection*/
    overflow-y: hidden;
}

html, body { height: 100%; width: 100%; margin: 0; }
#topBar{
    width: 100%;
    background-color: white;
    
    position: fixed;
    display: flex;
    justify-content: space-between;
    top:0;
    box-shadow: 0px 1px 2px lightsteelblue;
}
#pageTitle{
  margin:0;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
}

.red{
    color: red;
    font-weight: 600;
}
#content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 97%;
    min-height: 40rem;
    overflow: auto;
    width:95%;
    min-width: max-content;
    margin: 0 auto;
    background-color: aliceblue;
    margin-top: 3rem;
    
}
.orderBox{
    background-color: white;
    margin:0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem 0.5rem 0 0;
    height: max-content;
    width:min-content;   
    
}

.orderBox hr{
    margin: 0;
    width: 100%;
    display: block;
    color: black;
    background-color: black;
    border-style: none;
    height: 0.1rem;
}
.orderTitle{
    font-weight: 600;
    padding: 0.8rem;
    width: max-content;
    text-align: center;
}
.orderItems{
    
}
.orderItems ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.orderItem{ 
    margin: 0.15rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 1.3rem);
    background-color: blanchedalmond;
}
.itemNotes{
    font-weight: 500;
    font-size: 0.8rem;
    background-color: white;
    margin:0.15rem;
    margin-top: 0.35rem;
    width:calc(100% - 1.3rem);
    padding:0.5rem;
    border-radius: 0.3rem;


}
#tbl .txt, #timeWait .txt, #tbl .data, #timeWait .data{
    display: inline;
}
#tbl, #timeWait{
    background-color: whitesmoke;
    margin: 0.15rem;
    padding: 0.2rem;
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status{
    background-color: whitesmoke;
    padding: 0.6rem;
    font-weight: 600;
    text-align: center;
    margin:0.5rem;
    width: max-content;
    min-width: 7.5rem;
    height: min-content;
}
.status:hover{
    background-color: rgba(6, 224, 104, 0.4);
}
#toggleOrders{
    user-select: none;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  
    text-align: center;
    text-shadow: 1px 1px lightgray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: rgb(247, 247, 247);
  }
  #toggleOrders:hover{
    background-color: rgb(242, 246, 247);
    border-left: 1px solid black;
    border-right: 1px solid black;
  }