body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(218, 232, 245);
}
#pageTitle{
    position: fixed;
    background-color: white;
    width: max-content;
    height: max-content;
    top:0;
    left:0;
    padding:0.4rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 1px 2px grey;
}

#content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: 40rem;
    min-height: max-content;
    width:95%;
    margin: 0 auto;
    background-color: aliceblue;
    margin-top: 3rem;
}
.orderBox{
    background-color: white;
    margin:0.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem 0.5rem 0 0;
    height: max-content;
    width:min-content;
}
.orderBox hr{
    margin: 0;
    width: 100%;
    display: block;
    color: black;
    background-color: black;
    border-style: none;
    height: 0.1rem;
}
.orderTitle{
    font-weight: 600;
    padding: 0.8rem;
    width: max-content;
    text-align: center;
}
.orderItems{
    
}
.orderItems ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.orderItem{ 
    margin: 0.15rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 1.3rem);
    background-color: blanchedalmond;
}
.itemNotes{
    font-weight: 500;
    font-size: 0.8rem;
    background-color: white;
    margin:0.15rem;
    margin-top: 0.35rem;
    width:calc(100% - 1.3rem);
    padding:0.5rem;
    border-radius: 0.3rem;


}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status{
    background-color: rgba(226, 216, 216, 0.15);
    padding: 0.6rem;
    font-weight: 600;
    margin:0.5rem;
    width: max-content;
    height: min-content;
}
.status:hover{
    background-color: rgba(6, 224, 104, 0.4);
}