/* Essentials
-----------------------------------------------------------------------------*/
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(218, 232, 245);
    margin: 0;
    border: 0;
    padding: 0;
  }

/* Table select Box */
#tablesBox{
   user-select: none;
    overflow-y: auto;
    position: fixed;
    left: calc(50% - 7.5rem);
    top: calc(50% - 10rem);
    background-color: white;
    width: 15rem;
    height: 20rem;
    box-shadow: 1px 1px 6px lightsteelblue;
    display: flex;
    flex-direction:column;
}
#tablesBox::-webkit-scrollbar { 
  width: 5px;
  background-color: aliceblue;
}
#tablesBox::-webkit-scrollbar-thumb{
  background-color: rgba(148, 148, 148, 0.233);
  border-radius: 2rem;
}
#tablesBox:hover::-webkit-scrollbar-thumb, #tablesBox:focus::-webkit-scrollbar-thumb, #tablesBox:active::-webkit-scrollbar-thumb{
  background-color: rgb(90, 90, 90);
}


#tablesBox #titleBox{
    width: 100%;
    text-align: center;
    background-color: rgb(252, 252, 252);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    border-bottom: 2px solid rgb(212, 211, 211);
    
}
.tableItem{
    width:100%;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    border-bottom: 1px solid rgb(212, 211, 211);
    text-shadow: 0px 0px lightgray;
}
.tableItem:hover{
    background-color: rgb(241, 245, 250);
    text-shadow: 1px 1px lightgray;
}

#tableContent{
    width:60%;
    min-width: min-content;
    max-width: 1000px;
    margin:0 auto;
    margin-top:5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#tableContent #titleBox{
    width: 100%;
    text-align: center;
    background-color: rgb(252, 252, 252);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    border-bottom: 2px solid rgb(212, 211, 211);
}


/* ------------------ */
  .wrapperOrders {
    background-color: aliceblue;
    max-width: 900px;
    min-width: min-content;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  #topBar{
    overflow-x: auto;
    width: 100%;
   background-color: white;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;
    top:0;
    box-shadow: 0px 1px 2px lightsteelblue;
}
#pageTitle{
  margin:0;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
}
#currentTable{
  user-select: none;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-shadow: 1px 1px lightgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rgb(247, 247, 247);
}


#openMenu{
  user-select: none;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
  text-align: center;
  text-shadow: 1px 1px lightgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rgb(247, 247, 247);
}
#openMenu:hover{
  background-color: rgb(242, 246, 247);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#setTable{
  user-select: none;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  text-align: center;
  text-shadow: 1px 1px lightgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: rgb(247, 247, 247);
}
#setTable:hover{
  background-color: rgb(242, 246, 247);
  border-left: 1px solid black;
  border-right: 1px solid black;
}
  /* Section A
  -----------------------------------------------------------------------------*/
  #section-a .container-a {
    border-radius: 0.3rem;
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: inset 1px 1px 2px grey;
    overflow: hidden;
    font-size: 18px;
    margin-top: 30px;
    width: 100%;
    height: max-content;
    
  }
  .topBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0.7rem;
    padding-left: 1rem;
    padding-right: 1rem; 
  }

  .topBox > *{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-align: center;
    width: max-content;
  }
  
  .container-b{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  .container-a .text-d {
    font-weight: 600;
  }
  
  .openBox {
    box-shadow: inset 1px 1px 2px grey;
    width: 100%;
    border-top: none;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
  }
  
.served{
    cursor: pointer;
    width: max-content;
    align-self: flex-end;
    user-select: none;
    margin-right: 3rem;
    background-color: red;
    color: white;
    font-weight: 600;
   
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 0px grey;
}
.served:hover{
    box-shadow: inset 1px 1px 3px grey;
}
.served:active{
    box-shadow: inset 1px 1px 3px black;
}

  .itemQuantity{
    color: red;
  }
  .edit {
    cursor: pointer;
  }
  
  #tableClear {
    width: 90px;
    text-decoration: underline;
  }
  
  #printBill {
    padding: 0 25px;
    background-color: #FFC5C5;
    box-shadow:inset 1px 1px transparent;
    border-radius: 0.3rem;
    font-weight: 600;
    margin-right: 73px;
    margin-bottom: 50px;
  }
  #printBill:hover{
    background-color: rgb(243, 79, 79,0.6);
    box-shadow:inset 2px 2px 5px rgb(243, 79, 79,1);
  }
  #total {
    float: right;
  
    margin-right: 50px;
    margin-top: 50px;
  
    font-size: 20px;
  }
  #total .totalRow {
    line-height: 50px;
  }
  #total .totalRow span:first-child {
    text-align: right;
    width: 100px;
    display: inline-block;
    margin-right: 20px;
  }
  #total .totalRow span:last-child {
    text-align: center;
    width: 65px;
    display: inline-block;
  }
  
  #total input {
    width: 44px;
    height: 40px;
    text-align: center;
    font-size: 20px;
  }
  
  /* Number Input remove Spinner */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  #section-c {
    display: inline-block;
    width: 100%;
  }
  #printBill,
  #tableClear {
    cursor: pointer;
    line-height: 40px;
    margin-top: 50px;
  }
  #printBill {
    float: right;
  }
  #tableClear {
    margin-left: 50px;
  }
  

  .dropDown {
      cursor: pointer;

  }

  #addOrder {
    cursor: pointer;
}

.party{
  border:1px solid transparent;
  height: 2rem;
  width: 5rem;  
  font-weight: 600;
}
.party:hover{
  box-shadow: inset 0px 0px 2px grey;
}
.party2{
  border:1px solid transparent;
  height: 2rem;
  width: 5rem;  
  font-weight: 600;
}
.party2:hover{
  box-shadow: inset 0px 0px 2px grey;
}
/*Menu Section*/
#mContent{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  min-width: max-content;
}
.wrapperMenu nav{

}
.wrapperMenu { 
  
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  
  
}

.wrapperMenu h1 {
  font-style: italic;
  color: #373fff;
}

.wrapperMenu li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding:0.8rem; 
  user-select: none;
}


#section-d {
  width: 30%;
  min-width: max-content;
  height: max-content;
}

#section-d li {
  cursor: pointer;
}
#section-d li:hover {
  background-color: #F5F5F5;
}

#section-e {
  background-color: white;
  width: 30%;
  min-width: max-content;
  height: max-content;
  min-height:100vh;
  box-shadow: inset 0px 0px 4px black;
  
}

.plus, .minus {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 26px;
}
.plus:hover {
  background-color: #F5F5F5;
}

#section-f {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: max-content;
  margin: 1rem;
  padding:0.5rem;
  height: max-content;
  border-radius: 0.3rem;
  background-color: #F5F5F5;
}

#section-f li{
  background-color: white;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  
}

.minus {
  cursor: pointer;
  
}
#section-f li .notes{
  height: min-content;
  font-weight: 600;
  box-shadow:  1px 1px 1px rgb(216, 216, 216);
  background-color: wheat;
  padding:0.5rem;
  border-radius: 0.3rem;
}
#section-f li .notes:hover, #section-f li .notes:active{
  box-shadow: inset 1px 1px 1px rgb(168, 168, 168);
}

#saveTable{
  align-self: flex-end;
  cursor: pointer;
  width: max-content;
  user-select: none;
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 0px grey;
}
#saveTable:hover{
  box-shadow: inset 1px 1px 3px grey;
}




#section-e li span.txt {
  display: inline-block;
  width: 180px;
  line-height: 20px;
}

#section-f li span.txt {
  display: inline-block;
  width: 150px;
  
}
.numOf {
  font-weight: 600;
  color: red;
}

#section-e li .txt{
  height: 100%;
}
#section-e li{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
#section-e{
  padding-top: 0.8rem;
}


/* Menu - Mobile View
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
  #topBar{
    font-size: 0.5em;
  }
  #mContent{
    font-size: 0.8em;
  }
  #topBar > *{
    padding: 0.1rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
  #section-d, #section-e, #section-f {
    width: 90vw;
  }
  #section-f{
    margin:0;
    padding: 0;;
  }
  
  #mContent{
    margin: 0 auto;
    flex-direction: column;
  }
}



/* View Order - Mobile View
-----------------------------------------------------------------------------*/
.mobileTimeContainer {
  width: 100%;
  display: block;
}
.text-f, .text-g {
  display: none;
}
@media only screen and (max-width: 600px) {
  .text-b, .text-c {
    display: none;
  }
  .text-f, .text-g {
    display: inline-block;
    width:  calc(50% - 10px);
    border: 1px solid #000;
    margin: 2.5px;
    text-align: center;
  }
}